@{
    ViewBag.Title = "About Us";
}
<h3>@ViewBag.Title</h3>


<p>Our company is based on the belief that our customers' needs are of the utmost importance. Our entire team is committed to meeting those needs. As a result, a high percentage of our business is from repeat customers and referrals.
We would welcome the opportunity to earn your trust and deliver you the best service in the industry.
We carry high quality feeds and animal supplies at reasonable prices.Purina-Nutrena-Buckeye- Blue Buffalo Pet Foods-Nutro Pet Foods-Diamond Pet Foods- Chicken Soup Pet Foods-Taste of the Wild Pet Foods.
Looking for small animal and bird supplies , we have lots of them also. We handle Sun Seed -Lavian-Colorful Companion- Buckeye feeds for caged birds and small animals.
Like to garden? We carry a large lineup of garden products from plants, seeds, lime, fertilizer , plants, soils, mulch, insect control products.
We have your lawn covered to, grass seed, straw lime and fertilizer( powder and pellet), vermiculite , weed and brush killers, repellents,and insect control products.</p>
