@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    1511 Main Ave <br />
    Nitro, WV 25143<br />
    <abbr title="Phone">P:</abbr>
    304.727.1721
</address>

<address>
    5967 US Route 60 <br />
    East Barboursville, WV 25504  <br />
    <abbr title="Phone"> P:</abbr>
    304.948.6902
</address>

<h4>Hours:</h4>

<p>
    Mon - Fri: 8AM - 6PM</br>
    Sat: 8AM - 5PM</br>
    Sun: Closed
</p>
