@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Valley Cash Feed</h1>

</div>
<p>
    We hope you can find everything you need. Valley Cash Feed is focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations.<br />
    At Valley Cash Feed we are always trying to give our customers quality products (Purina, Nutrena, Blue Buffalo, Nutro, Sunseed, Diamond) to just list a few.
    Valley Cash Feed wants to be the feed store you can count on. We take customer service seriously, we are always happy to load your order for you. We have delivery options also; from large to small orders.<br />
    Are You looking for garden plants and accessories? We have them to, lots of plants coming in weekly along with soils and mulches. Need fertilizer? No problem, we have lawn fertilizer, weed and feed, garden fertilizers, lime both powder and pellet.
    At Valley Cash Feed we carry a large line of grass seed for lawns to fields to pastures and even food plot seeds for the wildlife. Small quantity or large we cover it all.
</p>
